body {
  background-image: url("./assets/beach.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
  position: relative;
}

.flag-buttons {
  display: flex;
  justify-content: center;
}

.flag-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.flag-button img {
  width: 100px;
  height: auto;
}

.flag-button span {
  margin-top: 5px;
}

.flag-button:hover {
  transform: scale(1.1);
}

.auth-section {
  position: absolute;
  top: 20px;
  right: 20px;
}